{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Rydnr" "subtitle" "Things I like to write about") }}

{{ partial "short-text" (dict "heading" "What you'll find here" "text" "I write for pleasure. I'll try to awake your interest in what I find interesting. However, I'm not sure I write well enough for that.")}}

{{ partial "2-up" (dict "heading" "Why am I doing this?" "description" "Because writing is self rewarding. This site should probably be private, but I don't find any compelling reason for that." "svg1" "img/illustrations/coffee.svg" "text1" "Sometimes I write about technical stuff. Challenges I encounter. News I've read." "svg2" "/img/illustrations/coffee-gear.svg" "text2" "Other times I write about other things. I usually do it in spanish. It's can be a good way for you to practice." "buttonText" "See all products" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "My values" "text" "I'm a person who cares about ethics, human beings and the rest of the life forms, science, politics, environment, arts. I don't like capitalism, so be warned." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
